/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.container {
  max-width: 1280px;
  margin: auto;
  padding: 5px 20px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
}

.grey-text {
  color: #999999;
}

.bg-relative {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Header */
header {
  margin-bottom: 20px;
}

.logo {
  height: 50px;
}

nav {
  padding-top: 30px;
  padding-bottom: 10px;
}

nav li {
  display: inline-block;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
  color: #8b8b8b;
}

nav a:visited {
  color: #8b8b8b;
}

/* Main */
.hero {
  height: 600px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-image: url('../img/banner.jpg');
}

.hero .motto {
  position: relative;
  padding: 400px 0 50px 50px;
  color: white;
}

.hero h1 {
  width: 60%;
}

.hero p {
  width: 50%;
}

.leadership-title {
  padding: 20px 0;
}

.leadership-title h2 {
  font-size: 31px;
}

.columns {
  padding: 15px 0;
}

.col {
  float: left;
  width: 20%;
}

.col-img-container {
  height: 250px;
}

.col-content h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: normal;
}

.col.col-big {
  width: calc(60% - 30px);
  margin: auto 15px;
}

/* Footer */
footer {
  margin: 20px 0;
  text-align: center;
}

footer span::after {
  content: '\2665';
  color: red;
  font-size: 21px;
}

/* IDs */
#left-col-img {
  background-image: url('../img/img-1.jpg');
}

#big-col-img {
  background-image: url('../img/banner-2.jpg');
}

#right-col-img {
  background-image: url('../img/img-3.jpg');
}
