/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.container {
  max-width: 1280px;
  margin: auto;
  padding: 5px 20px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.25);
}

.grey-text {
  color: #999999;
}

/* Debug */
.debug header {
  background-color: #e579e6;
  min-height: 100px;
}

.debug .hero {
  background-color: #e1d67a;
  min-height: 600px;
}

.debug .leadership {
  background-color: #0086ff;
}

.debug .leadership-title {
  background-color: #abcfe7;
  min-height: 100px;
}

.debug .col {
  background-color: #abcfe7;
  min-height: 500px;
}

.debug footer {
  background-color: #8801fe;
  min-height: 80px;
}

/* Header */
header {
  margin-bottom: 20px;
}

.logo {
  height: 50px;
}

nav {
  padding-top: 30px;
  padding-bottom: 10px;
}

nav li {
  display: inline-block;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
  color: #8b8b8b;
}

nav a:visited {
  color: #8b8b8b;
}

/* Main */
.hero {
  position: relative;
  width: 100%;
  min-height: 600px;
  margin-bottom: 20px;
  border-radius: 10px;

  background-image: url('../img/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .motto {
  position: relative;
  padding: 400px 0 50px 50px;
  color: white;
}

.hero h1 {
  width: 60%;
}

.hero p {
  width: 50%;
}

.leadership-title {
  padding: 20px 0;
}

.leadership-title h2 {
  font-size: 31px;
}

.columns {
  padding: 15px 0;
}

.col {
  float: left;
  width: 20%;
}

.col-img-container {
  position: relative;
  width: 100%;
  height: 250px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.col-content h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: normal;
}

.col.col-big {
  width: calc(60% - 30px);
  margin: auto 15px;
}

/* Footer */
footer {
  margin-top: 20px;
}

/* IDs */
#left-col-img {
  background-image: url('../img/img-1.jpg');
}

#big-col-img {
  background-image: url('../img/banner-2.jpg');
}

#right-col-img {
  background-image: url('../img/img-3.jpg');
}
